body
{
	background: #eaeaea;
}

#header
{
	background : white;
	height : 100px;
	padding-top : 30px;
	font-size : 50px;
	text-align: center;
}

#footer
{
	text-align : center;
	font-size : 15px;
	padding : 20px;
	background: gray;
}

#content
{
	float:left;
	padding : 15px;
	width: 850px;
}

#menu
{
	width : 300px;
	float:left;
}

#menu li
{
	padding : 10px;
}

#menu li a:ACTIVE,
#menu li a:HOVER,
#menu li a:VISITED,
#menu li a:LINK
{
	color: GRAY;
	text-decoration: none;
		
}

#menu ul
{
	background : white;
	border-top: 1px black solid;
}

#member
{
	height : 30px;
	background: gray;
	text-align: right;
}

#main_content
{
	width : 1200px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	zoom:1;
}



.list_box
{
	margin-top:20px;
}


/* 관리자관리 */

.admin_id
{
	width:80px;
}

.admin_pw
{
	width:100px;
}

.admin_name
{
	width:70px;
}

.admin_phone
{
	width:150px;
}

.admin_email
{
	width:180px;
}

.admin_group
{
	width:50px;
}

.admin_md
{
	width:60px;
}